

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
  <h1>{{title}}</h1>
  <ul>

  {{title}}
  <table>
  <tr>


    <th>Name</th>
    <th>Roll No</th>
    <th>C No</th>


  </tr>

  <tr *ngFor="let student of getall">
  <td>

    {{student.name}}

  </td>

  <td>{{student.roll_no}}

  </td>

  <td>

    {{student.c_no}}

  </td>

  </tr>

</table>






  </ul>
  </body>
</html>
